{% extends "layout.html" %}

{% block title %}
    {{result[0]['Drink']}}
{% endblock %}

{% block main %}
<form action="/food" id = "food"></form>
    {% for item in result %}
        <div class = "container">
            <div class = "row">
                <div class = "col-sm-6">
                    <img src = "{{item['Thumb']}}" alt = "{{item['Drink']}}" id = "{{item['Drink']}}" height = 500 width = 500>
                </div>

                <div class = "col-sm-6">
                    <h2>{{item['Drink']}}</h2>
                    <h6>Categoy: {{item['Category']}}
                        <br>Serve in: {{item['Glass']}}
                        <br>{{item['Alcoholic']}}
                    </h6>
                </div>
            </div>
        </div>
        <div class = "container">
            <div class = row>
                <div class = "col-sm-6">
                    <table class="table">
                        <h1>
                            Ingredient
                        </h1>
                        <tr>
                            <th>Ingredient</th>
                            <th>Measurement</th>
                        </tr>

                        {% for i in range(20) %}
                            {% if item['Ingredient' ~ i ]%}
                            <tr>
                                <td>{{ item['Ingredient' ~ i ] }}</td>
                                <td>{{ item['Measure' ~ i ] }}</td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>

                <div class = "col-sm-6">
                    <h1>
                        Instruction
                    </h1>
                    <ol>
                        {%for step in steps%}
                                <li>
                                    <h6 style = "text-align: left">{{step}}.<br></h6>
                                </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
    {% endfor %}


    <a href="/">Home</a>
{% endblock %}