<!DOCTYPE html>

<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

        <!-- https://favicon.io/emoji-favicons/money-mouth-face/ -->
        <link href="/static/icon.png" rel="icon">

        <link href="/static/styles.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <title>{% block title %}{% endblock %} | RecipeWeb</title>

    </head>

    <body>

        <nav class="navbar navbar-expand-sm bg-dark navbar-dark" style = "width: 100%">
            <div class="logo">
                <a class="navbar-brand" href="/" title="Home">RecipeWeb</a>
            </div>

            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>

            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                <form class="form-inline" action="/search" method="POST">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search for recipes" name ="search" >
                    <button class="btn btn-success" type="submit" value = "search">Search</button>
                </form>
            </nav>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto mt-2">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="foodbardrop" data-toggle="dropdown">Food</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/search?q=Beef">Beef</a>
                            <a class="dropdown-item" href="/search?q=Breakfast">Breakfast</a>
                            <a class="dropdown-item" href="/search?q=Chicken">Chicken</a>
                            <a class="dropdown-item" href="/search?q=Dessert">Dessert</a>
                            <a class="dropdown-item" href="/search?q=Lamb">Lamb</a>
                            <a class="dropdown-item" href="/search?q=Pasta">Pasta</a>
                            <a class="dropdown-item" href="/search?q=Pork">Pork</a>
                            <a class="dropdown-item" href="/search?q=Seafood">Seafood</a>
                            <a class="dropdown-item" href="/search?q=Side">Side</a>
                            <a class="dropdown-item" href="/search?q=Starter">Starter</a>
                            <a class="dropdown-item" href="/search?q=Vegetarian">Vegetarian</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="drinkbardrop" data-toggle="dropdown">Drinks</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/search?q=Beer">Beer</a>
                            <a class="dropdown-item" href="/search?q=Cocktail">Cocktail</a>
                            <a class="dropdown-item" href="/search?q=Homemade Liqueur">Homemade Liqueur</a>
                            <a class="dropdown-item" href="/search?q=Punch / Party Drink">Punch / Party Drink</a>
                            <a class="dropdown-item" href="/search?q=Shot">Shot</a>
                            <a class="dropdown-item" href="/search?q=Cocoa">Cocoa</a>
                            <a class="dropdown-item" href="/search?q=Coffee / Tea">Coffee / Tea</a>
                            <a class="dropdown-item" href="/search?q=Milk / Float / Shake">Milk / Float / Shake</a>
                            <a class="dropdown-item" href="/search?q=Ordinary Drink">Ordinary Drink</a>
                            <a class="dropdown-item" href="/search?q=Soft Drink / Soda">Soft Drink / Soda</a>
                            <a class="dropdown-item" href="/search?q=Other/Unknown">Other/Unknown</a>
                        </div>
                    </li>
                </ul>

                {% if session.user_id %}
                    <ul class="navbar-nav mr-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/saved">Saved</a></li>
                        <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                        <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                    </ul>
                {% endif %}

            </div>

        </nav>

        {% if get_flashed_messages() %}
            <header>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }}" style = "text-align: center;">
                                    <strong>{{ message }}!</strong>
                                </div>
                            {% endfor %}
                    {% endif %}
                {% endwith %}
            </header>
        {% endif %}

        <main class="container p-5">
            {% block main %}{% endblock %}
        </main>

    </body>

    <footer class="small text-center text-muted">
        Data provided for free by <a href="https://www.themealdb.com/">TheMealDB</a>
    </footer>


</html>
